*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* background-color: greenyellow; */
    padding: 1rem;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
nav ul li{
  display: inline;
}

header{
    /* width: 100%;
    height: 8vh; */
    /* background-color: green; */
    display: flex;
    flex-grow: 1;

}


.navbar{
    width: 50%;
    height: 8vh;
    background-color: #4F5A26;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    left: 0;
    top: 0; 
    border-bottom: 1px solid black;
}


.half{
    
    height: 8vh;
    width: 50%;
    background-color:#4F5A26;
    display: flex;
    align-items: start  ;
    gap: 20px;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
     border-bottom: 1px solid black;
}

nav ul li a{
    text-decoration: none;
    color: white;
    /* padding: 0.1rem 20rem; */
}






.full{
    width: 100%;
    height: 100vh;
    background-color: #FCF87C;
    display: flex;
}







































































































.bigbox{
    width: 100%;
    height: 100vh;
    background-color: #FCF87C;
    color: #4F5A26;
    display: flex;

  
} 


.boxx{
    flex-grow: 1;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
}



.boxx input{
    background-color: #FCF87C;
}

.boxx button{
    background-color: #F0BFCB;
    color: #4F5A26;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.boxx:nth-child(1){
  padding-top: 70px;

} 

.boxx h2{
    font-size: 30px;
}


.boxx:nth-child(2){
    padding-top: 70px;
}



.boxx:nth-child(3){
    padding-top: 70px;
    padding: 70px;
}




@media screen and (max-width:800px) {

.bigbox{
    flex-wrap: wrap;
}


    .boxx{
       flex-grow: 1;
    }
    
}
















































































