*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* background-color: greenyellow; */
    padding: 1rem;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
nav ul li{
  display: inline;
}

header{
    /* width: 100%;
    height: 8vh; */
    /* background-color: green; */
    display: flex;
    flex-grow: 1;

}


.navbar{
    width: 50%;
    height: 8vh;
    background-color: #4F5A26;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    left: 0;
    top: 0; 
    border-bottom: 1px solid black;
}


.half{
    
    height: 8vh;
    width: 50%;
    background-color:#4F5A26;
    display: flex;
    align-items: start  ;
    gap: 20px;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
     border-bottom: 1px solid black;
}

nav ul li a{
    text-decoration: none;
    color: white;
    /* padding: 0.1rem 20rem; */
}









body{
    flex-wrap: wrap;
}




.container{
    width: 100%;
    height: 70vh;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
}

.about{
    flex-grow: 1;
    width: 50%;
    height: 70vh;
    background-color: #FCF87C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 50px;
     color: #4F5A26;
      border-bottom: 1px solid black;
}

.about button{
    background-color: #F0BFCB; 
    color: #4F5A26;
    border-radius: 10px;
    border: 0.5px solid black;
}


.about h1{
    font-size: 40px;
}





.photo{
    width: 50%;
    height: 70vh;
    flex-grow: 1;
}


.photo img{
     width: 100%;
     height: 70vh;
}




.team{
    width: 100%;
    height: 100vh;
    background-color: #F0BFCB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: #4F5A26;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}


.team h2{
    font-size: 60px;
}






 button{
   
    background-color:#4F5A26; 
    color:white;
    border-radius: 10px;
    border: 0.5px solid black;
}





.picture{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}


.picture img{
    width: 100%;
    height: 100vh;
}




.programmes{
    width: 100%;
    height: 60vh;
    background-color: #FCF87C;
    color: #4F5A26;
 border-top: 2px solid black;
}
.prog{
    width: 100%;
    height: 40vh;
   display: grid;
    grid-template-columns: 5fr 5fr ;
     grid-template:1fr 1fr / 1fr 1fr ;
   
}

.box{
    width: 100%;
    height: 20vh;
   display: flex;
   border: 2px solid black;
  justify-content: center;
  align-items: center;
   
}




.programmes button{
 background-color:#4F5A26; 
    color:white;
    border-radius: 10px;
    border: 0.5px solid black;
    margin: 50px;
    
  
    
   
}







.programmes h3{
    font-size: 50px;
}






.testimonial{
    width: 100%;
    height: 50vh;
    background-color: #4F5A26;
    color: #FCF87C;
   flex-wrap: wrap;
    border-top: 2px solid black;
}


.up{
    flex-grow: 1;
    font-size: 22px;

  
}

.down{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}



.down b{
 display: flex;
    align-items: end;
    margin-top: 90px;
}




.registration{
    width: 100%;
    /* height: 120vh; */
    background-color:#F0BFCB;
    display: flex;
    color: #4F5A26;
flex-wrap: wrap;
   border-top: 2px solid black;
}


.left{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left h1{
    font-size: 40px;
}

.left b{
    font-size: 22px;
}




 .right{
    width: 50%;
    height: 70vh;
    /* background-color: bisque; */
   /* color: #4F5A26; */
   flex-grow: 1;
 }

input{
    border-radius: 10px;
    background-color: #F0BFCB;
    width: 200px;
}


.right button{
   margin-top: 50px;
   width: 200px;
   height: 20px;
}



.title{
    flex-wrap: wrap;
    width: 100%;
    height: 20vh;
    background-color: #FCF87C;
    color: #4F5A26;
    border-top: 2px solid black;
   display: flex;
   justify-content: start;
   align-items: center;
   font-size: 25px;
 border-bottom: 2px solid black;
}


.title h2{
    flex-grow: 1;
}



.bigbox{
    width: 100%;
    height: 100vh;
    background-color: #FCF87C;
    color: #4F5A26;
    display: flex;

  
} 
.navbar a{
    text-decoration: none;
    color: white;
}

.boxx{
    flex-grow: 1;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
}



.boxx input{
    background-color: #FCF87C;
}

.boxx button{
    background-color: #F0BFCB;
    color: #4F5A26;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.boxx:nth-child(1){
  padding-top: 70px;

} 

.boxx h2{
    font-size: 30px;
}


.boxx:nth-child(2){
    padding-top: 70px;
}



.boxx:nth-child(3){
    padding-top: 70px;
    padding: 70px;
}




@media screen and (max-width:800px) {

.bigbox{
    flex-wrap: wrap;
}


    .boxx{
       flex-grow: 1;
    }
    
}













